In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn import tree, metrics
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
Label_data = pd.read_csv("..../Game_Data.csv")

In [3]:
Label_data

    ID        Date          University  Stay Opponent   Media Decision
0    1    9/5/2015               Texas  Home      Out   1-NBC      Win
1    2   9/12/2015            Virginia  Away      Out   4-ABC      Win
2    3   9/19/2015         GeorgiaTech  Home       In   1-NBC      Win
3    4   9/26/2015               UMass  Home      Out   1-NBC      Win
4    5   10/3/2015             Clemson  Away       In   4-ABC     Lose
5    6  10/10/2015                Navy  Home      Out   1-NBC      Win
6    7  10/17/2015                 USC  Home       In   1-NBC      Win
7    8  10/31/2015              Temple  Away      Out   4-ABC      Win
8    9   11/7/2015                PITT  Away      Out   4-ABC      Win
9   10  11/14/2015          WakeForest  Home      Out   1-NBC      Win
10  11  11/21/2015       BostonCollege  Away      Out   1-NBC      Win
11  12  11/28/2015            Stanford  Away       In   3-FOX     Lose
12  13    9/4/2016               Texas  Away      Out   4-ABC     Lose
13  14   9/10/2016              Nevada  Home      Out   1-NBC      Win
14  15   9/17/2016       MichiganState  Home      Out   1-NBC     Lose
15  16   9/24/2016                Duke  Home      Out   1-NBC     Lose
16  17   10/1/2016            Syracuse  Home      Out  2-ESPN      Win
17  18   10/8/2016  NorthCarolinaState  Away      Out   4-ABC     Lose
18  19  10/15/2016            Stanford  Home       In   1-NBC     Lose
19  20  10/29/2016        MiamiFlorida  Home      Out   1-NBC      Win
20  21   11/5/2016                Navy  Home      Out   5-CBS     Lose
21  22  11/12/2016                Army  Home      Out   1-NBC      Win
22  23  11/19/2016        VirginiaTech  Home       In   1-NBC     Lose
23  24  11/26/2016                 USC  Away       In   4-ABC     Lose
24  25    9/2/2017              Temple  Home      Out   1-NBC      Win
25  26    9/9/2017             Georgia  Home       In   1-NBC     Lose
26  27   9/16/2017       BostonCollege  Away      Out  2-ESPN      Win
27  28   9/23/2017       MichiganState  Away      Out   3-FOX      Win
28  29   9/30/2017           MiamiOhio  Home      Out   1-NBC      Win
29  30   10/7/2017       NorthCarolina  Away      Out   4-ABC      Win
30  31  10/21/2017                 USC  Home       In   1-NBC      Win
31  32  10/28/2017  NorthCarolinaState  Home      Out   1-NBC      Win
32  33   11/4/2017          WakeForest  Home      Out   1-NBC      Win
33  34  11/11/2017        MiamiFlorida  Away       In   4-ABC     Lose
34  35  11/18/2017                Navy  Home      Out   1-NBC      Win
35  36  11/25/2017            Stanford  Away       In   4-ABC     Lose

In [4]:
Label_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
ID            36 non-null int64
Date          36 non-null object
University    36 non-null object
Stay          36 non-null object
Opponent      36 non-null object
Media         36 non-null object
Decision      36 non-null object
dtypes: int64(1), object(6)
memory usage: 2.1+ KB

In [5]:
Label_data['Decision'],class_names = pd.factorize(Label_data['Decision'])

In [6]:
print(class_names)

Index(['Win', 'Lose'], dtype='object')

In [7]:
print(Label_data['Decision'].unique())

[0 1]

In [8]:
Label_data['Stay'],_ = pd.factorize(Label_data['Stay'])

In [9]:
Label_data['Opponent'],_ = pd.factorize(Label_data['Opponent'])

In [10]:
Label_data['Media'],_ = pd.factorize(Label_data['Media'])

In [11]:
Label_data

    ID        Date          University  Stay  Opponent  Media  Decision
0    1    9/5/2015               Texas     0         0      0         0
1    2   9/12/2015            Virginia     1         0      1         0
2    3   9/19/2015         GeorgiaTech     0         1      0         0
3    4   9/26/2015               UMass     0         0      0         0
4    5   10/3/2015             Clemson     1         1      1         1
5    6  10/10/2015                Navy     0         0      0         0
6    7  10/17/2015                 USC     0         1      0         0
7    8  10/31/2015              Temple     1         0      1         0
8    9   11/7/2015                PITT     1         0      1         0
9   10  11/14/2015          WakeForest     0         0      0         0
10  11  11/21/2015       BostonCollege     1         0      0         0
11  12  11/28/2015            Stanford     1         1      2         1
12  13    9/4/2016               Texas     1         0      1         1
13  14   9/10/2016              Nevada     0         0      0         0
14  15   9/17/2016       MichiganState     0         0      0         1
15  16   9/24/2016                Duke     0         0      0         1
16  17   10/1/2016            Syracuse     0         0      3         0
17  18   10/8/2016  NorthCarolinaState     1         0      1         1
18  19  10/15/2016            Stanford     0         1      0         1
19  20  10/29/2016        MiamiFlorida     0         0      0         0
20  21   11/5/2016                Navy     0         0      4         1
21  22  11/12/2016                Army     0         0      0         0
22  23  11/19/2016        VirginiaTech     0         1      0         1
23  24  11/26/2016                 USC     1         1      1         1
24  25    9/2/2017              Temple     0         0      0         0
25  26    9/9/2017             Georgia     0         1      0         1
26  27   9/16/2017       BostonCollege     1         0      3         0
27  28   9/23/2017       MichiganState     1         0      2         0
28  29   9/30/2017           MiamiOhio     0         0      0         0
29  30   10/7/2017       NorthCarolina     1         0      1         0
30  31  10/21/2017                 USC     0         1      0         0
31  32  10/28/2017  NorthCarolinaState     0         0      0         0
32  33   11/4/2017          WakeForest     0         0      0         0
33  34  11/11/2017        MiamiFlorida     1         1      1         1
34  35  11/18/2017                Navy     0         0      0         0
35  36  11/25/2017            Stanford     1         1      1         1

In [12]:
Label_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
ID            36 non-null int64
Date          36 non-null object
University    36 non-null object
Stay          36 non-null int64
Opponent      36 non-null int64
Media         36 non-null int64
Decision      36 non-null int64
dtypes: int64(5), object(2)
memory usage: 2.1+ KB

In [13]:
X = Label_data.iloc[:,3:6]
y = Label_data.iloc[:,-1]

In [14]:
X

    Stay  Opponent  Media
0      0         0      0
1      1         0      1
2      0         1      0
3      0         0      0
4      1         1      1
5      0         0      0
6      0         1      0
7      1         0      1
8      1         0      1
9      0         0      0
10     1         0      0
11     1         1      2
12     1         0      1
13     0         0      0
14     0         0      0
15     0         0      0
16     0         0      3
17     1         0      1
18     0         1      0
19     0         0      0
20     0         0      4
21     0         0      0
22     0         1      0
23     1         1      1
24     0         0      0
25     0         1      0
26     1         0      3
27     1         0      2
28     0         0      0
29     1         0      1
30     0         1      0
31     0         0      0
32     0         0      0
33     1         1      1
34     0         0      0
35     1         1      1

In [15]:
y

0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    1
12    1
13    0
14    1
15    1
16    0
17    1
18    1
19    0
20    1
21    0
22    1
23    1
24    0
25    1
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    1
34    0
35    1
Name: Decision, dtype: int64

In [16]:
train_dist = int(0.7 * len(X))
X_train, X_test = X[:train_dist], X[train_dist:]
y_train, y_test = y[:train_dist], y[train_dist:]

In [17]:
X_train

    Stay  Opponent  Media
0      0         0      0
1      1         0      1
2      0         1      0
3      0         0      0
4      1         1      1
5      0         0      0
6      0         1      0
7      1         0      1
8      1         0      1
9      0         0      0
10     1         0      0
11     1         1      2
12     1         0      1
13     0         0      0
14     0         0      0
15     0         0      0
16     0         0      3
17     1         0      1
18     0         1      0
19     0         0      0
20     0         0      4
21     0         0      0
22     0         1      0
23     1         1      1
24     0         0      0

In [18]:
X_test

    Stay  Opponent  Media
25     0         1      0
26     1         0      3
27     1         0      2
28     0         0      0
29     1         0      1
30     0         1      0
31     0         0      0
32     0         0      0
33     1         1      1
34     0         0      0
35     1         1      1

In [19]:
y_train

0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    1
12    1
13    0
14    1
15    1
16    0
17    1
18    1
19    0
20    1
21    0
22    1
23    1
24    0
Name: Decision, dtype: int64

In [21]:
y_test

25    1
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    1
34    0
35    1
Name: Decision, dtype: int64

# Naive Bayes Classification Model

In [18]:
Naive_model = GaussianNB()

In [19]:
Naive_model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [20]:
Naive_predicted = Naive_model.predict(X_test)

In [21]:
Naive_predicted

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1], dtype=int64)

In [22]:
Naive_count_misclassified = (y_test != Naive_predicted).sum()
print('Misclassified samples: {}'.format(Naive_count_misclassified))

Misclassified samples: 3

In [23]:
Naive_accuracy = metrics.accuracy_score(y_test, Naive_predicted)
print('Accuracy: {:.2f}'.format(Naive_accuracy))

Accuracy: 0.73

In [24]:
print(confusion_matrix(y_test, Naive_predicted))

[[5 3]
 [0 3]]

In [27]:
print(metrics.classification_report(y_test, Naive_predicted))

              precision    recall  f1-score   support

           0       1.00      0.62      0.77         8
           1       0.50      1.00      0.67         3

    accuracy                           0.73        11
   macro avg       0.75      0.81      0.72        11
weighted avg       0.86      0.73      0.74        11